<aside th:fragment="left" class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li class="nav-small-cap">--- PERSONAL</li>
        <li> <a class="waves-effect waves-dark" href="Dashboard"><i class="icon-speedometer"></i><span class="hide-menu">Anasayfa</span></a>
        </li>
        <li> <a class="waves-effect waves-dark" href="SatisBildir" aria-expanded="false"><i class="ti-harddrives"></i><span class="hide-menu">Satiş Bildir</span></a>
        </li>

        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Genel Ayarlar</span></a>
          <ul aria-expanded="false" class="collapse">
            <li><a href="Firma">Sevda Kabar</a></li>
            <li><a href="FaaliyetAlani">Faaliyet Alanı Ekle - Göster</a></li>
            <li><a href="Kullanici">Kullanıcı Ekle - Göster</a></li>
            <li><a href="Sube">Şube Ekle - Göster</a></li>
            <li><a href="Urun">Ürün Ekle - Göster</a></li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>